body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 50px, 50px, 50px, 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "side main main ."
    "footer footer footer footer";
}

.header{
    font-size: 42px;
    text-align: center;
    grid-area: header;
}

.nav{
    z-index: 2;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
    grid-area: nav;
}


.nav p {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
}

.nav a {
    float: right;
    font-size: 20px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}
  
.nav a:hover {
    background-color: #111;
    color: #f2f2f2;
}

.main{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    padding: 20px;
    background-color: white;
    margin:0px 250px;
    grid-area: main;
    display: flex;
    flex-wrap:wrap;
}

.main p{
    width: 495px;
}

div.ddd{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: auto;
}

div.ddd img {
    width: 300px;
    height: 300px;
}

div.desc {
    padding: 15px;
    text-align: center;
  }

.gameinfo h2 a{
    color: #0a0a0a;
    text-decoration: none;
}

.gameinfo h2 a:hover {
    color: red;
}

.side{
    float: right;
    text-align: center;
    padding: 10px;
    grid-area: side;
    margin:0px 0px;
}

.footer {
    background-color:#0a0a0a ;
    text-align: center;
    padding: 10px;
    grid-area: footer;
}

.footer a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

.footer p{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

.gdd-button {
    background-color: #03c04a;
    color:white;
    border: none;
    text-decoration: none;
    margin: 20px 10px;
    padding: 15px 32px;
    border-radius: 18px;
    transition: all 0.3s;
    
}

.gdd-button:hover{
    opacity: 0.7;
}

.gdd-button:active{
    background-color: #333;
}

.game-button {
    background-color: #03c04a;
    color:white;
    border: none;
    text-decoration: none;
    margin: 20px 10px;
    padding: 15px 32px;
    border-radius: 18px;
    transition: all 0.3s;
    
}

.game-button:hover{
    opacity: 0.7;
}

.game-button:active{
    background-color: #333;
}

.image {
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: row;
}

#home {
    float: left;
    padding: 2px 24px;
}

#neno {
    width: 360px;
    height: 360px;
    padding: 20px;
}
